/* ==========================================================================
   Fonts
   ========================================================================== */
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto';
    font-style: normal;
}

h5 {
    font-size: 16px;
    font-weight: 700;
    color: var(--color-text-grey-3);
}

p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text-grey-2);
}

/* Implementation
   ========================================================================== */
/* Bold */
@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Bold.woff) format('woff');
    font-style: normal;
    font-weight: 700;
}

/* Medium */
@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Medium.woff) format('woff');
    font-style: normal;
    font-weight: 500;
}

/* Regular */
@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}

/* Thin */
@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Thin.woff) format('woff');
    font-style: normal;
    font-weight: 100;
}