/* ==========================================================================
   Colors
   ========================================================================== */
:root {
    /* Basic */
    --color-white: rgba(255, 255, 255, 1);
    /* Background */
    --color-grey-1: rgba(0, 0, 0, 0.08);
    /* Outline */
    --color-outline: rgba(0, 0, 0, 0.16);
}