/* ==========================================================================
   Reset all
   ========================================================================== */
* {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0;
}

body {
    background-color: var(--color-grey-1) !important;
}


/* ==========================================================================
   Components
   ========================================================================== */
.header {
    /* Positioning */
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    /* Display & box model */
    padding: 16px 32px;
    /* Other*/
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-outline);
}

.h-search-menu {
    /* Display & box model */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.input-group {
    /* Display & box model */
    display: flex;
    gap: 8px;
}

.searchfield {
    /* Display & box model */
    width: 320px;
    /* Other */
    border: 1px solid var(--color-grey-2);
    border-radius: 12px !important;
    padding: 8px 16px;
}

.btn {
    /* Other */
    border: 1px solid var(--color-grey-2);
    border-radius: 12px !important;
}

.cards-container {
    /* Display & box model */
    display: flex;
    justify-content: center;
    padding: 24px 16px;
    gap: 16px;
    flex-wrap: wrap;
}

.error-message {
    /* Display & box model */
    padding: 48px 56px;
}

.pokemon-card {
    /* Display & box model */
    height: 200px;
    width: 260px;
    padding: 16px;
    /* Other */
    background-color: var(--color-text-grey-1);
    border: 1px solid var(--color-outline);
    border-radius: 12px;
}

.p-c-type-chip {
    /* Display & box model */
    padding: 4px 12px;
    /* Other */
    background-color: var(--color-white-1);
    border-radius: 24px;
}

.p-c-image {
    /* Display & box model */
    height: 120px;
    width: 120px;
}


/* Dialog card
   ========================================================================== */
.dialog-card-container {
    /* Positioning */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    /* Display & box model */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Other */
    background-color: var(--color-grey-2);
}

.dialog-pokemon-card {
    /* Display & box model */
    height: 600px;
    width: 360px;
    /* Other */
    background-color: var(--color-white);
    /* border: 1px solid var(--color-outline);*/
    border-radius: 12px;
    box-shadow: 0px 1px 2px var(--color-grey-2), 0px 2px 6px 2px var(--color-grey-2);

}

.d-p-c-basic {
    /* Display & box model */
    height: 240px;
    padding: 16px;
    /* Other */
    background-color: var(--color-text-grey-1);
    border-radius: 12px 12px 0 0;
}

.d-p-c-image {
    /* Display & box model */
    height: 200px;
    width: 200px;
}

.detailed-info {
    /* Display & box model */
    margin: 16px 0 !important;
}

tbody {
    /* Display & box model */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

tr {
    /* Display & box model */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.td-primary {
    /* Display & box model */
    width: 86px;
}

.poke-abilities {
    display: flex;
}

.progress {
    /* Display & box model */
    width: 238px;
    height: 24px !important;
    /* Other */
    border-radius: 12px !important;
}

.progress-bar {
    /* Display & box model */
    text-align: left !important;
    padding-left: 12px !important;
    /* Other */
    background-color: rgb(83, 150, 221) !important;

}
/* ==========================================================================
   Layout
   ========================================================================== */
.column-flex-end {
    /* Display & box model */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
}

.column-space-between {
    /* Display & box model */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column-gap-8px {
    /* Display & box model */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.column-center-gap-8px {
    /* Display & box model */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row-space-between {
    /* Display & box model */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row-space-between-bottom {
    /* Display & box model */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.row-flex-end {
    /* Display & box model */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.row-gap-8px {
    /* Display & box model */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

.row-gap-8px-flex-wrap {
    /* Display & box model */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;
}

.nav {
    /* Display & box model */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
}

.align-center {
    /* Display & box model */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
}

/* ==========================================================================
   Effects
   ========================================================================== */
.d-none {
    display: none;
}

.pokemon-card:hover {
    /* Other */
    cursor: pointer;
    opacity: 0.86;
}

.icon-button {
    /* Display & box model */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    /* Other */
    border-radius: 24px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}

.icon-button:hover {
    /* Other */
    background-color: var(--color-grey-1);
}

.nav-item {
    /* Display & box model */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px !important;
    /* Other */
    border-radius: 24px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}

.nav-item:hover {
    /* Other */
    background-color: var(--color-grey-1);
}

.active {
    /* Other */
    background-color: var(--color-grey-2);
}